.people-list-table .ant-table-thead > tr > th {
  background-color: #ebebeb;
  font-weight: 500;
}

.userpic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
